{% extends "template.html" %}
{% block view %}

<div class="hidden sm:inline sm:w-1/3 md:w-1/2 p-10 md:p-20 grid grid-cols-1 space-y-4">
  <a href="/tags" class="flex justify-start btn-pomo-1 w-min">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
    </svg>
  </a>
  <img src="{{ url_for('static', filename='img/post.svg') }}" alt="">
</div>

<div class="w-full sm:w-2/3 md:w-1/2 p-10 grid grid-cols-1 space-y-4">
  {{ messages.render_messages() }}
  <span class="font-bold text-2xl">Create a new Tag</span>
  <form method="POST" action="{{ url_for('storeTag') }}" class="space-y-4">
    <div class="grid grid-cols-1 gap-4">
      <input class="input-pomo-1" type="text" name="name" placeholder="Name tag" required>
      <input class="input-pomo-1" type="text" name="color" placeholder="Color task in hexdecimal: #fff" required>
    </div>
    <button class="btn-pomo-1-w-full" type="submit">Create Tag</button>
  </form>
</div>

{% endblock %}