<!DOCTYPE html>
<html lang="en">

<style>

</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beans Love Beers</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
  <div class="w-full h-screen p-4 flex justify-center items-center bg-gray-800">
    <main class="w-full md:w-5/6 xl:w-4/6 h-9/10 flex items-center bg-gray-300 rounded-lg font-mono">

      <div class="hidden sm:inline sm:w-1/3 md:w-1/2 p-10 md:p-20">
        <img src="{{ url_for('static', filename='img/developer.svg') }}" alt="">
      </div>

      <div class="w-full sm:w-2/3 md:w-1/2 p-10 grid grid-cols-1 space-y-4">
        <span class="font-bold text-2xl">Sign up and create your account</span>
        <form method="POST" action="/auth" class="space-y-4">
          <div class="grid grid-cols-1 gap-4">
            <input class="input-pomo-1" type="text" name="name" placeholder="Name" required>
            <input class="input-pomo-1" type="text" name="username" placeholder="Username" required>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <input class="input-pomo-1" type="password" name="password" placeholder="Password" required>
            <input class="input-pomo-1" type="password" name="check_password" placeholder="Confirm Password" required>            
          </div>
          <button class="btn-pomo-1" type="submit">Register</button>
        </form>
        <a href="/login" class="flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
          </svg>
          <span>Back home</span>
        </a>
      </div>

    </main>
  </div>

</body>

</html>