{% extends "template.html" %}
{% block view %}

<div class="grid grid-cols-1 space-y-4 w-full">
    <div class="flex justify-between p-10">
        <h1>My Tasks</h1>
        <a href="/tasks/create" class="btn-pomo-1">
            <span>New task</span>
        </a>
    </div>
    <div aria-label="group of cards" tabindex="0" class="focus:outline-none py-8 w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-10">
            {% for task in tasks %}
            <div tabindex="0" aria-label="card 1" class="focus:outline-none bg-white p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800">{{ task.name }}</p>
                        </div>
                        <div role="img" aria-label="bookmark">
                            <svg  class="focus:outline-none" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z" stroke="#2C3E50" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600">{{ task.description }}</p>
                    <div tabindex="0" class="focus:outline-none flex">
                        <div class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#tasks</div>
                        <div class="py-2 px-4 ml-3 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#tasks</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}