{% extends "template.html" %}
{% block view %}

<div class="flex-col justify-start space-y-1 w-full h-full">
    <div class="flex justify-between px-10 py-5">
        <h1>My Tasks</h1>
        <a href="/tasks/create" class="btn-pomo-1">
            <span>New task</span>
        </a>
    </div>
    <div aria-label="group of cards" tabindex="0" class="focus:outline-none w-full bg-scroll h-4/6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-5 mx-5 h-full" style="overflow-y: scroll;">
            {% for task in tasks %}
            <div tabindex="0" aria-label="card 1" class="focus:outline-none bg-white p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800">{{ task.name }}</p>
                        </div>
                        <div class="flex justify-between space-x-4">
                            <a href="{{ url_for('deleteTask', id = task.id) }}" role="button" aria-label="delete">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </a>
                            <a href="{{ url_for('editTask', id = task.id) }}" role="button" aria-label="delete">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600">{{ task.description }}</p>
                    <div tabindex="0" class="focus:outline-none flex">
                        <!-- <div class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#tasks</div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}